{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/crafts/craft-detail.css' %}" />
{% endblock %}
{% block content %}
<section class="craft-container">
    <div class="">
        <img src="" alt="" />
    </div>
    <div class="craft-details">
        <h1>{{ craft.title }}</h1>

        <h2>Difficulty: {{ craft.level }} </h2>

        <h2>Supplies {{ craft.supplies }} </h2>

        <p>Instructions: {{ craft.instructions }}</p>

        <h3>Designated Hobby:</h3>
        <div class="subsection-content">
            {% if craft.hobbies.count %}
            {% for hobby in craft.hobbies.all %}
            <div class="hobby-container">
                <div class=></div>
                <a href="{% url 'hobby-detail' hobby.id %}">
                    <p>{{ hobby.name }}</p>
                </a>
            </div>
            {% endfor %}
            {% else %}
            <p class="no-hobbies">{{craft.title}} needs a hobby category!</p>
            {% endif %}
        </div>


        <div class="craft-actions">
            <a href="{% url 'craft-update' craft.id %}" class="btn warn">Edit</a>
            <a href="{% url 'craft-delete' craft.id %}" class="btn danger">Delete</a>
        </div>


        <h3>Select Hobby</h3>
        <div class="subsection-content">
            {% if hobbies.count %}
            {% for hobby in hobbies %}
            <div class="hobby-container">
                <a href="{% url 'hobby-detail' hobby.id %}">
                    <p> {{ hobby.name }}</p>
                </a>
                <form action="{% url 'associate-hobby' craft.id hobby.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn submit">Select</button>
                </form>
            </div>
            {% endfor %}
            {% else %}
            <p class="all-hobbies">{{craft.title}} is associated with all available hobbies</p>
            {% endif %}
        </div>
</section>
{% endblock %}